.contacts{
    grid-column: aside-start / aside-end;
    background-color: var(--color-grey-light);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.editor{
    grid-column: aside-start / aside-end;
    background-color: var(--color-grey-light);
    display: flex;
    flex-direction: column;
    
}