.msg{
    position: relative;
    max-width: 80%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.msg--user{
    align-self: end;
    background-color: var(--color-primary-dark);
    /* margin-right: 3rem; */
}

/* .msg  .msg__info{
    display: none;
}

.msg--user  .msg__info{
    position: absolute;
    right: -5rem;
    top: 70%;
    width: 4rem;
    height: 4rem;
    display: flex;
}
 */

.msg__date{
    font-size: 1.2rem;
}

.msg__body{
    word-break: break-all;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: var(--font-primary);
}

.msg--user{
    align-self: end;
    background-color: var(--color-primary-dark);
}

.msg--contact{
    align-self: start;
    background-color: var(--color-grey-light);
}

.msg--user  .msg__body{
    color: #FFF;
}

.msg--user  .msg__date{
    color: #FFF;
}

.msg--contact > .msg__body{
    color: var(--color-primary-dark);
    font-size: 1.6em;
}




